# Environment variables
.env

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints
*.ipynb

# Virtual Environment
venv/
env/
ENV/

# Local development settings
.idea/
.vscode/

# OS specific files
.DS_Store
Thumbs.db
